@import url(https://fonts.googleapis.com/css?family=Syncopate);

body{
    display: flex;
    background-color: #C0C0C0;

}
.profile_card{
    position: relative;
    border: 1px solid black;
    height: 20%;
    width: 100vh;
    padding: 20px;
    margin-left: 300px;
    margin-top: 30px;
    background: radial-gradient(
    circle closest-corner at center 125px,#22222242,rgba(0, 0, 0, 0.58) 40%) no-repeat;
    text-align: center;
}

img{
    width: 100px;
    border-radius: 60px;
}
.profile_card h1{
    font-family: 'Lisu Bosa', serif;
    font-family: 'Monoton', cursive;
    font-family: 'Qwitcher Grypen', cursive;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Tektur', cursive;
    font-family: 'Tilt Prism', cursive;
    text-transform: uppercase;
    background: radial-gradient(circle farthest-corner at center center,#0b0202a7,#170ce6) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.profile_card h6{
    color:rgb(61, 17, 17);
    
    font-size: 100%;
}
.profile_card  button{
    width: 100px;
    height: 30px;
    border-radius: 2em;
    transition-duration: 0.4s;
    color: #f0f0f4;
    background-color: #CC0066;
}
.profile_card  button:hover {
    background-color: #FF8000;
    color: white;
  }
  /********************************Profile css********************************* */
  .profiles{
    display: flex;
    margin: 300px;
    align-items: center;
    
  }
  
  .profile-student{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    border-radius: 25px;
    margin-left: 80px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #ffffff40;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    background-color:#CC0066;
    border-color: #170ce6;
    border-width: 20px;
    /* background-color: #5b86e5; */
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(151,100,214,1) 4%, rgba(29,229,253,1) 49%, rgba(140,186,193,0.9866071428571429) 65%, rgba(239,80,177,1) 86%, rgba(239,80,177,1) 97%, rgba(195,109,180,1) 100%, rgba(252,176,69,1) 100%); */
  }
  .image{
    position: relative;
    height: 150px;
    width: 150px;
  }
  .image .profile-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    
  }
  .data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
   
  }
  .data h2{
    font-size: 33px;
    font-weight: 600;
  }
  
  
  .buttons{
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  .buttons .btn{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    padding: 8px 25px;
    border-radius: 25px;
    font-size: 18px;
    white-space: nowrap;
    /* background: linear-gradient(to left, #33ccff 0%, #ca27e0 100%); */
  }
  .buttons .btn:hover{
    box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
  }


