@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.profiles{
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  border-radius: 25px;
  margin-left: 80px;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid #ffffff40;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  /* background-color: #5b86e5; */
  /* background: rgb(131,58,180); */
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(151,100,214,1) 4%, rgba(29,229,253,1) 49%, rgba(140,186,193,0.9866071428571429) 65%, rgba(239,80,177,1) 86%, rgba(239,80,177,1) 97%, rgba(195,109,180,1) 100%, rgba(252,176,69,1) 100%); */
}
.image{
  position: relative;
  height: 150px;
  width: 150px;
}
.image .profile-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
 
}
.data h2{
  font-size: 33px;
  font-weight: 600;
}


.buttons{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.buttons .btn{
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  /* background: linear-gradient(to left, #33ccff 0%, #ca27e0 100%); */
}
.buttons .btn:hover{
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
}