/********* Common CSS Starts **********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  html,
  body {
    font-family: Roboto, sans-serif, arial;
    font-size: 16px;
    color: #242424;
  }
  .container {
    width: 900px;
    margin: 0px auto;
    padding-left: 40px;
     position: sticky;
      background-color: #20364b;
  }
  
  .main-section {
    background-color: #20364b;
    margin-top: 5%;
    width: 100%;
    float: left;
    padding: 70px 0px 70px 0px;
  }
  .mainTopic{
   margin-top: 5%;
   margin-left: 45%;
  }
  .mainTopic:hover{
    color: #ba6a6a;
  }
  .heading {
    font-size: 28px;
    font-weight: 500;
    height: 35px;
    align-items: center;
    color: #ffffff;
    border-bottom: 1px solid #46b7c1;
    margin-bottom: 20px;
    background-color: rgba(0, 51, 255, 0.516);
  }
  .h4{
    color: #ba6a6a;
  }
  .p{
    color: antiquewhite;
  }
  /************************************************/


  /********* Header HTML CSS Starts **********/
.header {
	background: #242424;
	padding: 6px;
    position: sticky;
    /* background: rgb(131,58,180); */
/* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(151,100,214,1) 4%, rgba(29,229,253,1) 49%, rgba(140,186,193,0.9866071428571429) 65%, rgba(239,80,177,1) 86%, rgba(239,80,177,1) 97%, rgba(195,109,180,1) 100%, rgba(252,176,69,1) 100%); */
}
.header b {
	background: #fff;
	color: red;
	padding:10px;
	font-size: 20px;
    position: sticky;
}
.header marquee {
	font-size:20px;
	color: #ffffff;
	width: 80%;
    position: sticky;
}
 /************************************************/
/************Menu Section *************/
nav {
	float: right;
	padding:25px 0px;
    position: sticky;
}


.navbar a{
  position: relative;
  font-size: 16px;
  margin-right: 30px;
  text-decoration: none;

  color: black;
	text-decoration: none;
	font-size:18px;
	padding:2px 10px;
	font-weight:500;
    position: sticky;
}
.navbar a::after{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #242424;
  bottom: -5px;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: .5s ease;
}
.navbar a:hover:after{
  transform: translateY(0);
  opacity: 1;
}

 /************************************************/

/********* Slider CSS Starts **********/
.slider img {
    width: 100%;
  }
  /************************************************/

  /********* Institute, Events and Notice Board  CSS Starts **********/
.event {
  background-color: #20364b;
    width: 32%;
    margin-right: 1%;
    float: left;
    background-color: #fff;
    padding: 10px;
  }
  .event .heading {
    background-color: #20364b;
    border-bottom: 1px solid #46b7c1;
    padding: 5px;
    /* color: #f3171786; */
    background: #46b7c1;
    text-align: center;
    background-color: rgba(0, 48, 241, 0.5);
  }
  .event ul li {
    margin-bottom: 20px;
    width: 100%;
    float: left;
    list-style: none;
  }
  .event-date {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(151,100,214,1) 4%, rgba(29,229,253,1) 49%, rgba(140,186,193,0.9866071428571429) 65%, rgba(239,80,177,1) 86%, rgba(239,80,177,1) 97%, rgba(195,109,180,1) 100%, rgba(252,176,69,1) 100%);
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 8px 12px;
    margin-right: 10px;
  }
  
 /************************************************/

  /********** About Us CSS Starts **********/  
.about-us div {
    width: 45%;
    float: left;
    line-height: 30px;
    font-size: 18px;
  }
  .about-us h4 {
    font-size: 22px;
  }
  .about-us p {
    line-height: 42px;
  }
  .about-us img {
    width: 40%;
    float: left;
  }
   /************************************************/

  /********** School Info, Award and Certificate CSS Starts **********/  
.award p {
    width: 100%;
    float: left;
    font-size: 16px;
  }
  .award img {
    width: 100%;
    height: 236px;
  }
  .award b {
    min-width: 115px;
    float: left;
    margin-bottom: 20px;
  }
  .award h3 {
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
  }
 /************************************************/

  /********* Testimonial Section CSS Starts **********/
.testimonial {
    width: 30.5%;
    float: left;
    margin-right: 2.5%;
  }
  .testimonial-text {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(151,100,214,1) 4%, rgba(29,229,253,1) 49%, rgba(140,186,193,0.9866071428571429) 65%, rgba(239,80,177,1) 86%, rgba(239,80,177,1) 97%, rgba(195,109,180,1) 100%, rgba(252,176,69,1) 100%);
    padding: 20px;
    line-height: 35px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
  .testimonial-detail {
    float: left;
    margin-top: 10px;
  }
  .testimonial-img {
    float: left;
  }
  .testimonial-img img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  .testimonial-name {
    margin-left: 10px;
    float: left;
  }
  .testimonial-name h5 {
    font-size: 18px;
    margin-top: 8px;
  }
  /************************************************/

  /********* Gallery CSS Starts **********/
.gallery img {
    width: 24%;
  }
   /************************************************/



  /********* Footer  CSS Starts **********/
.footer {
   background-color: #242424;
    padding: 20px 0px;
    width: 100%;
    float: left;
  }
  .footer-logo {
    width: 90px;
    height: 70px;
  }
  .footer-sect {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
  }
  .footer-sect a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
  }
  /************************************************/