body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:#A7A1AE;
    background-color:#1F2739;
  }
  

table tr{
    background-color: rgb(0, 80, 105);
}
table{
    width: 100%;
    margin-right: 4%;
    margin-top: 90px; 
    height: 400px;
    overflow: hidden;
    display: table;
}
table td{
    text-align: center;
    font-weight: normal;
    font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
     box-shadow: 0 2px 2px -2px #0E1119;
}
.container td:first-child { color: #FB667A; }


.container tr:nth-child(odd) {
    background-color: #323C50;
}
.container th {
    background-color: #1f2739;
}
.container tr:hover {
    background-color: #464A52;
   -webkit-box-shadow: 0 6px 6px -6px #0E1119;
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
   box-shadow: 0 6px 6px -6px #0E1119;
   }

.container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;

box-shadow: #7F7C21 -1px 1px, #7F7C21 -1px 1px, #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -2px 2px, #7F7C21 -4px 4px;
transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
} 


@media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) { display: none; }
    } 
