body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#1F2739;
  }
  

table tr{
   background-color: aqua;
}
table{
    width: 100%;
   margin: 4%;
    margin-top: 100px; 
    height: 400px;
}
table td{
    text-align: center;
}